.footer {
    background-color: var(--light-yellow);
    padding: 80px 100px;
}

.footer .title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 100px;
}

.footer .inner-footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer .inner-footer-container .row {
    display: flex;
    justify-content: space-between;
}
.footer .inner-footer-container .row:first-of-type {
    margin-bottom: 30px;
}

.footer .inner-footer-container .row .hr-orange {
    border: 1px solid var(--main-orange);
}

.footer .inner-footer-container .row .column {
    display: flex;
    flex-direction: column;
}
.footer .inner-footer-container .row .column .footer-secc {
    border-left: 2px solid var(--main-orange);
    padding-left: 10px;
}
.footer .inner-footer-container .row .column .footer-txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 12px;
    color: var(--black);
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.footer .inner-footer-container .row .column .footer-txt:hover {
    text-decoration: underline;
    color: var(--main-orange);
} 

.footer .inner-footer-container .row .social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
}

.footer .inner-footer-container .row .column .copyright-txt__1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 12px;
}
.footer .inner-footer-container .row .column .copyright-txt__2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
}